# Copie este arquivo para .env e preencha com seus valores

LLM_API_KEY =                                          # chave da api
LLM_BASE_URL =                                         # endpoint da API
LLM_MODEL_NAME = Qwen/Qwen2.5-14B-Instruct-AWQ         # nome do modelo
DB_PATH = data/jarvis.db                               # banco de dados.