# Copie este arquivo para .env e preencha com seus valores

LLM_API_KEY=token_do_professor_aqui                    # chave da api
LLM_BASE_URL=https://url-fornecida-pelo-professor/v1   # endpoint da API do Gemma
LLM_MODEL_NAME=gemma-12b                               # nome do modelo
DB_PATH =                                              # banco de dados.